@import 'reset'

body
  font-size calc(100vw / 750)
  font-family Arial
  background-color $primary
  min-height 100%
  min-width 100%
  *
    -webkit-overflow-scrolling touch

html,
body,
#app {
  height 100%
  width 100%
}