@import 'reset'

body
  font-size: calc(100vw / 750)
  font-family: Arial
  background-color: $primary
  min-height: 100%
  min-width: 100%

html,
body,
#app {
  height: 100%; // 父元素必须要有高度
  width: 100%; // 如果已经是block元素，则可以忽略
}